:root {
  --white-100: #FFFFFF;
  --black-05: ##F5F5F5;
  --black-50: #A2A2A2;
  --black-100: #464646;
  --blue-50: #EAF2FD;
  --blue-100: #2A7AE4;
}

* {
  
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.hideVisually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

*::placeholder {
  opacity: 1;
  color: #A2A2A2;
}

.flex {
  display: flex;
}

.container {
  max-width: 1440px;
  min-width: 360px;
  margin: auto;
}

