div.sections {
  flex-direction: column;
  margin: 0 auto;
  max-width: 360px;
}

section.container {
  width: 100%;
  padding: 16px 8px;
  margin: 0 auto;
}

div.star_wars-section,
div.consoles-section,
div.diversos-section {
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}

div.verTudo {
  padding: 0 8px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

div.verTudo h3 {
  width: 101px;
  height: 26px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: var(--black-100);
}

div.verTudo a {
  padding-right: 20px;
  font-weight: 700;
  font-size: 14px;
  color: var(--blue-100);
  background-image: url('../img/blue_arrow.svg');
  background-repeat: no-repeat;
  background-position: right top;
}

figure.product {
  margin: 8px;
}

figure.product img {
  width: 156px;
}

figure.product figcaption {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-100);
  margin-top: 8px;
}

p.preco {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-100);
  margin: 8px 0;
}

figure.product a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--blue-100);
}

@media only screen and (min-width: 720px) {

  div.sections {
    max-width: 720px;
  }

  section.container {
    padding: 0;
    margin: 64px auto 0 auto;
    flex-wrap: nowrap;

  }

  figure.product img {
    width: 164px;
  }

  footer.container {
    margin-top: 64px;
  }
}

@media only screen and (min-width: 1150px) {
  div.sections {
    max-width: 1150px;
  }

  div.star_wars-section,
  div.consoles-section,
  div.diversos-section {
    flex-wrap: nowrap;
  }

  figure.product img {
    width: 176px;
  }
}